<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoiceAssistant">
        <activity
            android:name=".activities.image.GetTextFromImage"
            android:exported="false" />
        <activity
            android:name=".activities.text.GetTextFromVoice"
            android:exported="false" />
        <activity
            android:name=".activities.image.ImageRuToEng"
            android:exported="false" />
        <activity
            android:name=".activities.image.ImageEngToRu"
            android:exported="false" />
        <activity
            android:name=".activities.text.TextRuToEng"
            android:exported="false" />
        <activity
            android:name=".activities.text.TextEngToRu"
            android:exported="false" />
        <activity
            android:name=".activities.UserText"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GetUserText"
            android:exported="false" />
    </application>

</manifest>